* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    display: flex;
    background-color: rgb(240, 239, 239);
    width: 70%;
    height: 85%;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    box-sizing: border-box;
}

.seccion-izquierda,
.seccion-derecha {
    flex-basis: 50%; /* Ambas secciones tendrán un 50% del ancho */
    display: flex;
    flex-direction: column; /* Alinea el contenido verticalmente */
    justify-content: center; /* Centra verticalmente el contenido */
}

.seccion-izquierda {
    padding: 40px;
    background: radial-gradient(circle at 50% 50%, rgba(53, 143, 153, 0.9), rgba(166, 92, 235, 0.7), rgba(57, 190, 86, 0));
    border-radius: 10%;
    color: white;
    margin-right: 10px;
}

.seccion-izquierda h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: bold;
    color: blue;
}

.caracteristica {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    width: 100%; 
}

.icono {
    width: 50px;
    height: 50px;
    background-color: #4c235f; /* Puedes cambiar este color */
    border-radius: 10px;
    overflow: hidden; /* Asegura que cualquier parte sobrante de la imagen no se muestre */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-sizing: border-box;
}

.icono img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin distorsión */
    display: block;
    padding: 10%;
}

.texto {
    flex-grow: 1;
    max-width: 80%; /* Limita el ancho de la caja de texto para que el icono tenga más espacio */
}

.texto h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.texto p {
    font-size: 1rem;
}


.seccion-derecha {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0px;

}

.contenedor-formulario {
    background-color: white;
    text-align: center; 
    width: 100%; 
    height: 950%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contenedor-formulario h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.contenedor-formulario p {
    margin-bottom: 50px;
}

.contenedor-formulario a {
    color: #1a73e8;
    text-decoration: none;
}

form input {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    width: 90%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

.registro-social {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.registro-social p {
    margin-bottom: 15px;
}

.botones-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.boton-social {
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    margin-left: 15px;
}

.boton-social img.icono-social {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.boton-social:hover {
    background-color: #ccc;
}


.terminos {
    font-size: 0.75rem;
    color: #666;
    text-align: center; /* Centra el texto */
}

.terminos a {
    color: #1a73e8; /* Color de los enlaces */
    text-decoration: none;
}

.terminos a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}


/* Contenedor para el checkbox y su label */
.aceptar-terminos {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    margin-bottom: 20px;
    width: 90%; 
    margin: 0 auto; 
}

.aceptar-terminos input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
    width: 16px;
    height: 16px;
}

.aceptar-terminos p {
    font-size: 0.9rem;
    color: #666;
}

.aceptar-terminos a {
    color: #1a73e8; /* Color de los enlaces */
    text-decoration: none;
}

.aceptar-terminos a:hover {
    text-decoration: underline;
}
